<h1>Listing member_fees</h1>

<table>
  <tr>
    <th>Member type</th>
    <th>Fee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_fees.each do |member_fee| %>
  <tr>
    <td><%= member_fee.member_type %></td>
    <td><%= member_fee.fee %></td>
    <td><%= link_to 'Show', member_fee %></td>
    <td><%= link_to 'Edit', edit_member_fee_path(member_fee) %></td>
    <td><%= link_to 'Destroy', member_fee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member fee', new_member_fee_path %>
