<% title "Gallery" %>

<p>
  <strong>Page:</strong>
  <%= @gallery.page_id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <%= link_to "Edit", edit_gallery_path(@gallery) %> |
  <%= link_to "Destroy", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", galleries_path %>
</p> 

<ul class = "imagelist">
 <% @images.each do |image| %>
 <li>  
     <% @checked = image.galleries.include? @gallery %> 
 		<div class = "GalleryImages <%= 'redborder' if @checked %>">
		<%= image_tag image.photo.url(:thumb) unless !image.photo_file_name %><br/> 
			<%= image.title %> 
		</div>

 </li>
<%- end -%>  
<div class="clear">&nbsp;</div>  

</ul>
