<% title "Images"%>

<table>
  <tr>
    
    <th>Title</th>
    <th>Description</th>
    <th>Image thumb</th>
  </tr>
  <% for image in @images %>
    <tr>
     
      <td><%= image.title %></td>
      <td><%= image.description %></td>
      <td><%= image_tag image.photo.url(:thumb) unless !image.photo_file_name %>  </td>
      <td><%= link_to "Show", image_path(image) %></td>
      <td><%= link_to "Edit", edit_image_path(image) %></td>
      <td><%= link_to "Destroy", image_path(image), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Image", new_image_path %></p>
