<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="keywords" lang="en" content= "Błyskawica, Polish, Poland, destroyer,  warship, Cowes, East Cowes, Friends, Isle of Wight, WW2, WWII, World War 2, Lightning">
		<meta name="creator" content="Ruby Web Solutions - 01983 527136" />
		<meta name="ROBOTS" content= "ALL"/>
		<title>
			O.R.P Błyskawica Society - <%= @pagetitle%>
		</title><%= stylesheet_link_tag  "screen", "superfish-navbar", "superfish",'jquery.lightbox-0.5'%>
		<%= javascript_include_tag 'jquery-1.2.6.min', 'jquery.hoverIntent.minified', 'superfish','jquery.lightbox-0.5'%>
		<script type="text/javascript">
//<![CDATA[
			// initialise plugins
$(document).ready((function(){
				jQuery('ul.sf-menu').superfish({
					pathClass: 'current', speed: 'slow'
					});  
			})
           );

		//]]>
		</script><!--[if lt IE 8]>    
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	</head>
	<body id="bp">
		<div id="container" class= "shadow">
			<div id="headbox">
			 
			 <div id="header"> 

					<h1>
						Friends of the<br>
						O.R.P. Błyskawica<br>
						Society
					</h1><img id="badge" src="/images/badge.png" width="75" height="80" alt="Badge" name="badge">
				</div>  
				<% cache("topmenu") do %>
				<div id="navigation">
					<%= display_tree_recursive(Page.tree, nil, x = false) { |node| link_to(node.name, pageshow_path(node.name))}.html_safe %>
					<div style="clear:both; height:0">
						&nbsp;
					</div> 
					<% end %> 
				</div>
			</div>

			<div id="middlewrapper">
              <% if @galleries %>
                <%= render :partial => 'galleries', :locals => {:page => @page}  %>
              <% end %>
              <div id = "content" class = "any">
				<%= yield %>
                </div>
			</div>
			<div id="footer">
                <%= link_to "Site Map", sitemap_path %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Contact", contact_path %>

			</div>
		</div>
		<div id = "bs">&nbsp;</div>
	</body>
</html>
